$nav-bg-color: hsl(0, 2%, 21%);
$font-lato: 'Lato', sans-serif;
$nav-font-color: hsl(0, 0%, 54%);
$about-section-bg: hsl(156, 45%, 53%);
$blog-section-bg: hsl(348, 78%, 55%);
$contact-section-bg: hsl(21, 100%, 64%);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;